.left-side{
    width: 220px;
    float: left;
}

.right-side{
    width: calc(100% - 220px);
    float: right;
}
.edit-emp-dialog{
    width: 80vw;
    height: 60vh;
    overflow-y: auto;
}
::ng-deep{
    .p-dialog-mask{
        background: #00000050 !important;
    }
}
.admin-row{
    background-color: #9fa39e;
    color: #fff;
}
.profile-picture{
    height: 350px;
    overflow-y: auto;
    .img-container{
        border-radius: 100%;
        overflow: hidden;
        width: 10rem;
        height: 10rem;
        margin: auto;
        img{
            width: 12rem;
            margin-left: -1rem;
        }
    }
}