<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 px-0">
      <bsd-header></bsd-header>
      <div class="w-100 py-2 body-content-height">
        <div class="w-100 px-3">
          <h1>What we offer!</h1>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <mat-icon class="list-icon">
                list
              </mat-icon>
              Teaching how to generate Documnts and Contracts.
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon class="list-icon">list</mat-icon>
              Teaching all the details about EC, PATTA/CITTA and Certificates required for document/deed registration.
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon class="list-icon">list</mat-icon>
              Offering work to get real time experence.
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon class="list-icon">list</mat-icon>
              Teaching how to assist in Registering the Documents and Contracts.
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon class="list-icon">list</mat-icon>
              Teaching all the methods of writing legal Documents.
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon class="list-icon">list</mat-icon>
              You can learn from us to understand the Client needs and offering data rich documentation.
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon class="list-icon">list</mat-icon>
              Teaching to make more perfection in clasifing the document types.
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <bsd-footer></bsd-footer>
    </div>
  </div>
</div>
