<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="inner-adjust">
    <div class="pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">User Profile</h1>
    </div>
    <!-- Show user data when logged in -->
    <div class="row" *ngIf="authService.userData as user">
      <div class="col-md-12">
        <div class="media">
          <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
            alt="{{user.displayName}}">
          <div class="media-body">
            <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
            <p>User ID: <strong>{{user.uid}}</strong></p>
            <p>Email: <strong>{{user.email}}</strong></p>
            <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h2 class="h2">Add Student</h2>
        </div>
        <form [formGroup]="usersForm" (ngSubmit)="submitStudentData()" novalidate>
          <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12">
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label>First name</label>
                  <input
                    type="text"
                    formControlName="firstName"
                    class="form-control"
                    required
                  />
                  <!-- errors-->
                  
                </div>
                <div class="col-md-12 mb-3">
                  <label>Last name</label>
                  <input type="text" formControlName="lastName" class="form-control" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label>Email</label>
                  <input
                    type="email"
                    formControlName="email"
                    class="form-control"
                    required
                  />
                  
                </div>
                <div class="col-md-12 mb-3">
                  <label>Mobile number</label>
                  <input
                    type="text"
                    formControlName="mobileNumber"
                    class="form-control"
                    required
                  />
                  <!-- errors-->
                </div>
              </div>
              <div class="form-group text-right">
                <button
                  type="button"
                  class="btn btn-secondary gap-right"
                  (click)="ResetForm()"
                >
                  Reset
                </button>
                <button
                  type="submit"
                  class="btn btn-success"
                  [disabled]="!usersForm.valid"
                >
                  Add Student
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
