::ng-deep{
    .p-dropdown{
        width: 100% !important;
    }
    .p-inputtext{
        padding: 0.5rem 0.7rem !important;
    }
}
.progress-bar{
    height: 10px;
    border-radius: 25%;
    background-color: greenyellow !important;
}