<bsd-header></bsd-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 py-2">
          <h2>Welcome to Bright Sun Documents</h2>
        </div>
      </div>
      <div class="row py-2 body-content-height">
        <div class="col-md-12">
          <div class="row justify-content-center">
            <div class="col-md-4 border rounded border-secondary" *ngIf="signInShow">
              <bsd-sign-in></bsd-sign-in>
              <div class="row text-center my-2">
                <div class="col-md-12">
                  <span>Don't have an account? <span class="nav-link" (click)="clickLogUp()"> Sign Up</span></span>
                </div>
              </div>
            </div>
            <div class="col-md-4 border rounded border-secondary" *ngIf="!signInShow">
              <bsd-sign-up></bsd-sign-up>
              <div class="row text-center my-2">
                <div class="col-md-12">
                  <div class="form-group">
                    <span
                      >Already have an account?
                      <span class="nav-link" (click)="clickLogIn()">Log In</span>
                      </span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<bsd-footer></bsd-footer>
