<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 px-0">
      <bsd-header></bsd-header>
      <div class="w-100 py-2 body-content-height">
        <div class="w-100 px-3">
          <h1>Our Products!</h1>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <mat-icon class="product-icon">room</mat-icon>
              Coaching Center for Documents/Deed Writting.
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon class="product-icon">room</mat-icon>
              Type writing Center in all major languages.
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <bsd-footer></bsd-footer>
    </div>
  </div>
</div>
