
<div class="mx-auto">
  <div class="table-responsive">
    <table
      class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg"
    >
      <thead>
        <tr>
          <th class="text-center">Sl/no.</th>
          <th *ngFor="let items of cols" scope="col">{{items.header}}</th>
          <th class="text-center" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="!hideWhenNouserList">
        <tr>
          <td colspan="17">
            <div class="no-data text-center" *ngIf="preLoader">
              <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="noData">
        <tr>
          <td colspan="17">
            <div class="no-data text-center">
              <p class="nodata-msg">No users added yet!</p>
              <!-- <a routerLink="/register-userList" class="btn btn-success"> Add userList </a> -->
            </div>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="hideWhenNouserList">
        <tr
          *ngFor="
            let user of userList
              | paginate: { itemsPerPage: 8, currentPage: p };
            let i = index
          "
        >
          <!-- <th scope="row">{{ user.email }}</th> -->
          <td class="text-center">{{ i + 1 }}</td>
          <td>{{ user.fullName }}</td>
          <td>{{ user.fatherName }}</td>
          <td>{{ user.email }}</td>
          <td class="text-center">{{ user.mobileNumber }}</td>

          <td>{{ user.selectedDoc }}</td>
          <td>{{ user.currentOwnerName }}</td>
          <td>{{ user.currentOwnerAddress }}</td>
          <td class="text-center">{{ user.currentOwnerAge }}</td>

          <td class="text-center">{{ user.currentOwnergender }}</td>
          <td>{{ user.selectBuyerRelation }}</td>
          <td>{{ user.buyerName }}</td>
          <td>{{ user.buyerAddress }}</td>
          <td class="text-center">{{ user.buyerAge }}</td>
          <td class="text-center">{{ user.selectedBuyGender }}</td>
          <td>{{ user.selectedDocuments }}</td>

          <td class="text-center action-block">
            <span
              class="mx-2 btn btn-outline-primary btn-sm"
              routerLink="/edit-userList/{{ user.key }}"
              >Edit</span
            >
            <span
              class="btn btn-outline-danger btn-sm"
              (click)="deleteUsers(user)"
              >Delete</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls (pageChange)="p = $event" class="w-100 text-center" *ngIf="!noData"></pagination-controls>
</div>