<bsd-header></bsd-header>
<div class="container">
  <div class="row">
    <div class="col-md-12 body-content-height-nohead">
      <div class="forget-password m-auto">
      <h3 class="my-3">Change/Reset Password</h3>
      <div class="border px-4">
      <label class="py-3">Please enter your email address to request a password reset.</label>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
      </div>
      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="text-center mt-3">
        <input type="submit" class="btn btn-primary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
      <div class="text-center my-3">
        <span>If not please go to:<span class="nav-link d-inline" routerLink="/home-page">Log In</span></span>
      </div>
    </div>
    </div>
    </div>
    
  </div>
</div>
<bsd-footer></bsd-footer>
